doctype html
html(lang="en")
	head
		title State of the Art Client-Side Development
		link(rel='stylesheet', href='bundle.css')
	body
		.body-content
			h1 DS Brandishness
			canvas.chart(width="500px" height="300px")
			.legend
				.legend-dsi DS Blue
				.legend-tels TELS Red
				.legend-dssi DSSI Orange
		script(src="bundle.js")
