<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>State of the Art Client-Side Development</title>
    <link rel="stylesheet" href="Content/bundle.css" />
</head>
<body ng-app="ds.symposium">
    <div class="body-content">
        @RenderBody()
    </div>
    <script src="Content/bundle.js"></script>
</body>
</html>
