<div class="ds-chart">
	<div ng-if="showLegend" class="ds-chart-legend-wrapper">
		<div class="ds-chart-legend" ng-bind-html="legendHtml"></div>
	</div>
	<div class="canvas-wrapper">
		<canvas></canvas>
	</div>
</div>
