doctype html
html(lang="en")
	head
		title State of the Art Client-Side Development
		link(rel='stylesheet', href='bundle.css')
	body
		.tile-1: .color-text
		.tile-2: .color-text
		.tile-3: .color-text
		script(src="bundle.js")
