@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
}
.body-content {
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 40px;
}
canvas.chart {
  float: left;
}
.legend {
  float: left;
  margin-top: 100px;
  margin-left: 30px;
}
.legend-dsi {
  position: relative;
  padding-left: 28px;
  color: #00467f;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 3px;
}
.legend-dsi::before {
  position: absolute;
  left: 0;
  top: 2px;
  border-radius: 2px;
  background-color: #00467f;
  width: 20px;
  height: 20px;
  content: " ";
}
.legend-tels {
  position: relative;
  padding-left: 28px;
  color: #b81237;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 3px;
}
.legend-tels::before {
  position: absolute;
  left: 0;
  top: 2px;
  border-radius: 2px;
  background-color: #b81237;
  width: 20px;
  height: 20px;
  content: " ";
}
.legend-dssi {
  position: relative;
  padding-left: 28px;
  color: #ea6721;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 3px;
}
.legend-dssi::before {
  position: absolute;
  left: 0;
  top: 2px;
  border-radius: 2px;
  background-color: #ea6721;
  width: 20px;
  height: 20px;
  content: " ";
}
